<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553740055801-u3apscvvd3ronf841dno1vblu5kqqoe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553740055801-u3apscvvd3ronf841dno1vblu5kqqoe0</string>
	<key>API_KEY</key>
	<string>AIzaSyAd_Bd55--tIT-P03W1PB_7Pq57fFjhcrs</string>
	<key>GCM_SENDER_ID</key>
	<string>553740055801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegrocketbestz.crash</string>
	<key>PROJECT_ID</key>
	<string>vegas-rocket-crash</string>
	<key>STORAGE_BUCKET</key>
	<string>vegas-rocket-crash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553740055801:ios:92096b1ecd2f62521ede28</string>
	<key>DATABASE_URL</key>
	<string>https://vegas-rocket-crash-default-rtdb.firebaseio.com</string>
</dict>
</plist>